body{
    background-color: whitesmoke;
}
svg{
    display: block;
    height: 0px;
}
#Elipse
{
    fill: #34495e;
    opacity: 1;
}
#acotRadio *
{
    fill: whitesmoke;
}
#acotRadio polyline{
    stroke: whitesmoke;
}
#acotRadio line{
    stroke: whitesmoke;
}
#userIn{
    width: 100%;
    height: auto;
    display: block;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    display: none;
}
#userIn div{
    margin: 5px;
    display: inline-block;
}
#userIn input[type="number"]
{
    width: 64px;
    border-radius: 5px;
    border: 1px solid #34495e;
}
.myrangeslider {
    width: 90%;
    height: 100px;
    /*background-color: red;*/
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
}