body{
    background-color: whitesmoke;
}
svg{
    height: 0px;
    margin-left: auto;
    margin-right: auto;
}
input[type="text"]
{
    width: 4em;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #34495e;
}
div table{
    width: 50%;
    margin-left: auto;
    margin-right: auto; 
}
*{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;   
}


input[type=range].slider {
  -webkit-appearance: none;
  width: 100%;
  margin: 10px 0;
}
input[type=range].slider:focus {
  outline: none;
}
input[type=range].slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 30px;
  cursor: pointer;
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  background: #ecf0f1;
  border-radius: 25px;
  border: 0px solid #34495e;
}
input[type=range].slider::-webkit-slider-thumb {
  box-shadow: 0px 0px 1.9px rgba(9, 0, 62, 0.67), 0px 0px 0px rgba(13, 0, 88, 0.67);
  border: 1px solid rgba(17, 68, 17, 0.57);
  height: 50px;
  width: 33px;
  border-radius: 50px;
  background: #307aa9;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}
input[type=range].slider:focus::-webkit-slider-runnable-track {
  background: #fbfcfc;
}
input[type=range].slider::-moz-range-track {
  width: 100%;
  height: 30px;
  cursor: pointer;
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  background: #ecf0f1;
  border-radius: 25px;
  border: 0px solid #34495e;
}
input[type=range].slider::-moz-range-thumb {
  box-shadow: 0px 0px 1.9px rgba(9, 0, 62, 0.67), 0px 0px 0px rgba(13, 0, 88, 0.67);
  border: 1px solid rgba(17, 68, 17, 0.57);
  height: 50px;
  width: 33px;
  border-radius: 50px;
  background: #307aa9;
  cursor: pointer;
}
input[type=range].slider::-ms-track {
  width: 100%;
  height: 30px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].slider::-ms-fill-lower {
  background: #dde4e6;
  border: 0px solid #34495e;
  border-radius: 50px;
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].slider::-ms-fill-upper {
  background: #ecf0f1;
  border: 0px solid #34495e;
  border-radius: 50px;
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].slider::-ms-thumb {
  box-shadow: 0px 0px 1.9px rgba(9, 0, 62, 0.67), 0px 0px 0px rgba(13, 0, 88, 0.67);
  border: 1px solid rgba(17, 68, 17, 0.57);
  height: 50px;
  width: 33px;
  border-radius: 50px;
  background: #307aa9;
  cursor: pointer;
  height: 30px;
}
input[type=range].slider:focus::-ms-fill-lower {
  background: #ecf0f1;
}
input[type=range].slider:focus::-ms-fill-upper {
  background: #fbfcfc;
}
input[type=range].slider {
  -webkit-appearance: none;
  width: 100%;
  margin: 10px 0;
}
input[type=range].slider:focus {
  outline: none;
}
input[type=range].slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 30px;
  cursor: pointer;
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  background: #ecf0f1;
  border-radius: 25px;
  border: 0px solid #34495e;
}
input[type=range].slider::-webkit-slider-thumb {
  box-shadow: 0px 0px 1.9px rgba(9, 0, 62, 0.67), 0px 0px 0px rgba(13, 0, 88, 0.67);
  border: 1px solid rgba(17, 68, 17, 0.57);
  height: 50px;
  width: 33px;
  border-radius: 50px;
  background: #307aa9;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}
input[type=range].slider:focus::-webkit-slider-runnable-track {
  background: #fbfcfc;
}
input[type=range].slider::-moz-range-track {
  width: 100%;
  height: 30px;
  cursor: pointer;
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  background: #ecf0f1;
  border-radius: 25px;
  border: 0px solid #34495e;
}
input[type=range].slider::-moz-range-thumb {
  box-shadow: 0px 0px 1.9px rgba(9, 0, 62, 0.67), 0px 0px 0px rgba(13, 0, 88, 0.67);
  border: 1px solid rgba(17, 68, 17, 0.57);
  height: 50px;
  width: 33px;
  border-radius: 50px;
  background: #307aa9;
  cursor: pointer;
}
input[type=range].slider::-ms-track {
  width: 100%;
  height: 30px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].slider::-ms-fill-lower {
  background: #dde4e6;
  border: 0px solid #34495e;
  border-radius: 50px;
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].slider::-ms-fill-upper {
  background: #ecf0f1;
  border: 0px solid #34495e;
  border-radius: 50px;
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].slider::-ms-thumb {
  box-shadow: 0px 0px 1.9px rgba(9, 0, 62, 0.67), 0px 0px 0px rgba(13, 0, 88, 0.67);
  border: 1px solid rgba(17, 68, 17, 0.57);
  height: 50px;
  width: 33px;
  border-radius: 50px;
  background: #307aa9;
  cursor: pointer;
  height: 30px;
}
input[type=range].slider:focus::-ms-fill-lower {
  background: #ecf0f1;
}
input[type=range].slider:focus::-ms-fill-upper {
  background: #fbfcfc;
}
input[type=range].slider {
  -webkit-appearance: none;
  width: 100%;
  margin: 10px 0;
}
input[type=range].slider:focus {
  outline: none;
}
input[type=range].slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 30px;
  cursor: pointer;
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  background: #ecf0f1;
  border-radius: 25px;
  border: 0px solid #34495e;
}
input[type=range].slider::-webkit-slider-thumb {
  box-shadow: 0px 0px 1.9px rgba(9, 0, 62, 0.67), 0px 0px 0px rgba(13, 0, 88, 0.67);
  border: 1px solid rgba(17, 68, 17, 0.57);
  height: 50px;
  width: 33px;
  border-radius: 50px;
  background: #307aa9;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}
input[type=range].slider:focus::-webkit-slider-runnable-track {
  background: #fbfcfc;
}
input[type=range].slider::-moz-range-track {
  width: 100%;
  height: 30px;
  cursor: pointer;
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  background: #ecf0f1;
  border-radius: 25px;
  border: 0px solid #34495e;
}
input[type=range].slider::-moz-range-thumb {
  box-shadow: 0px 0px 1.9px rgba(9, 0, 62, 0.67), 0px 0px 0px rgba(13, 0, 88, 0.67);
  border: 1px solid rgba(17, 68, 17, 0.57);
  height: 50px;
  width: 33px;
  border-radius: 50px;
  background: #307aa9;
  cursor: pointer;
}
input[type=range].slider::-ms-track {
  width: 100%;
  height: 30px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].slider::-ms-fill-lower {
  background: #dde4e6;
  border: 0px solid #34495e;
  border-radius: 50px;
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].slider::-ms-fill-upper {
  background: #ecf0f1;
  border: 0px solid #34495e;
  border-radius: 50px;
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].slider::-ms-thumb {
  box-shadow: 0px 0px 1.9px rgba(9, 0, 62, 0.67), 0px 0px 0px rgba(13, 0, 88, 0.67);
  border: 1px solid rgba(17, 68, 17, 0.57);
  height: 50px;
  width: 33px;
  border-radius: 50px;
  background: #307aa9;
  cursor: pointer;
  height: 30px;
}
input[type=range].slider:focus::-ms-fill-lower {
  background: #ecf0f1;
}
input[type=range].slider:focus::-ms-fill-upper {
  background: #fbfcfc;
}
